body {
    font-family: Arial;
    background-image: url(YorhaWallpaper.jpg);
}

.textcenter {
    text-align: center;
}

.textjustify {
    text-align: justify;
}

p {
    color: white;
    background-color: #00FF00;
}
h1 {
    color: orange;
    font-style: italic;
    font-weight: normal;
}

h2 {
    color: orange;
    font-style: italic;
    font-weight: normal;
}

h3 {
    color: orange;
    font-style: italic;
    font-weight: normal;
}

h4 {
    color: orange;
    font-style: italic;
    font-weight: normal;
}

.imgbox {
    border:10px solid black;
    padding: 5px;
    background-color: yellow;
}

a {
    color: red;
    text-decoration: none;
}

    a:link {
        color: #00FF00;
    }

    a:visited {
        color: green;
    }

    a:active {
        color: #00FFFF;
    }

    a:hover {
        color: yellow;
        text-decoration: underline;
    }

.greenbg {
    background-color: #00FF00;
}

.spanblue {
    color: blue;
}